.container {
  height: 100%;
  /* background-color: #141414; */
  background-color: #252525;
  padding: 10px 15px 20px 20px;
  color: #fff;
  /* border: 1px solid grey; */
}

.categoryTabs {
  font-size: 13px;
  position: relative;
  font-weight: bold;
  /* cursor: pointer; */
  padding: 10px 6px 0px 6px;
  margin-bottom: 16px;
  min-width: 80px;
  z-index: 1;
}

.categoryTabs::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #7B00F7;
  border-radius: 50px;
}

.content {
  max-height: 85%;
  margin: 30px auto 0px auto;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 11px;
}

.content::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

.content::-webkit-scrollbar-thumb {
  background-color: #888; /* 회색 스크롤바 */
  border-radius: 50px; /* 둥근 모서리 */
}

.content::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 트랙 배경을 투명하게 설정 */
}

/* 상한가 */
.marketInfo {
  font-size: 14px;
  margin-bottom: 10px;
}

.priceChange {
  color: #CF5055;
}

/* 테이블 */
.orderTable thead tr td {
  color: #ccc;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
}

.orderTable th, .orderTable td {
  text-align: center;
  width: 60px;
  border-bottom: 1px solid #333;
  /* border: 1px solid blue; */
}

.orderTable td.askVolume,
.orderTable td.bidVolume {
  padding: 10px 40px 10px 0;
  text-align: right;
}

.orderTable td.askPrice,
.orderTable td.bidPrice {
  padding: 10px 33px 10px 0;
  text-align: right;
}

.askVolume {
  color: #CF5055;
}

.orderTable .askInfo {
  text-align: center;
  margin: 0;
  padding: 0 20px 0 15px;
  max-width: 60px;
  /* border: 1px solid blue; */
}

.orderTable tr:hover {
  background-color: transparent !important;
}

.orderTable td.askPrice:hover,
.orderTable td.askVolume:hover,
.orderTable td.bidPrice:hover,
.orderTable td.bidVolume:hover {
  background-color: #333342 !important;
}

.askInfoContainer{
  border-bottom: 1px solid #333;
}

.detailInfo {
  text-align: center;
  color: #aaa;
  width: 100%;
  padding: 10px 0 10px 5px;
  font-size: 10px;
  /* border: 1px solid red; */
}

.bidInfo {
  vertical-align: top;
  margin: 0;
  padding: 10px 5px 10px 0;
  /* border: 1px solid red; */
}

.bidDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 7px 0;
  padding: 0;
  font-size: 9px;
  width: 100%;
  /* border: 1px solid green; */
}

.bidVol {
  display: flex;
  justify-content: flex-start;
  color: #bbb;
  width: 50px;
  /* border: 1px solid blue; */
}

.bidQty {
  display: flex;
  justify-content: flex-end;
  width: 25px;
  /* border: 1px solid blue; */
}

.bidVolume {
  color: #4881FF;
}

.summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 13px;
  margin-left: -2px;
}

.askSummary, .bidSummary {
  color: #aaa;
  width: 100px;
  min-width: 57px;
  text-align: center;
  /* border: 1px solid red; */
}

.askSummary span {
  color: #CF5055;
  padding-right: 5px;
}

.bidSummary span {
  color: #4881FF;
  padding-right: 5px;
}

.marketStatus {
  font-weight: bold;
  width: 95px;
  min-width: 31px;
  text-align: center;
  /* border: 1px solid red; */
}
